div {
    background-color: aqua;
    border: 1px black solid;
    height: 100px;
    
}

* {
    box-sizing: border-box;
}

.sticky {
    position: sticky;
    top: 0px;
    background-color: orange;
    z-index: 2;
}

.fixed {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: red;
}

.container {
    height: 1100px;
    z-index: 0;
}

.container div {
    background-color: magenta;
    z-index: 0;
}